@import "../../components/Colors.scss";
@import "../../components/MediaQueries.scss";

.services {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 auto;
    }
    &__heading {
        color: $dark;
        margin-bottom: 24px;
        font-size: 3rem;
    }
    &__container {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 2%;
    }
    &__container-card {
        border-radius: 5px;
        text-decoration: none;
        margin: 0 10px;
        border-radius: 4px;
        height: 410px;
        width: 380px;
        color: $dark;
        border: 2px solid $dark;
    }
    &__container-card:hover {
        transform: scale(1.04);
        transition: all 0.3s ease-out;
        color: $dark;
    }
    &__container-cardInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__container-img {
        width: 60%;
        margin: 10%;
    }
    &__heading-subtitle {
       margin-bottom: 25px;
       font-size: 1.5rem;
       padding: auto 10%;
       text-align: center;
    }
    &__text {
        font-size: 1.125rem;
        padding: 0 5%;
        line-height: 20px;
    }
}

@include services-small-devices {

    .services { 
        &__container {
            display: flex;
            flex-direction: column;
            grid-gap: 20px;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        &__container-card {
            width: 90%;
        }
        &__wrapper {
            margin: 0 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__container-img {
            width: 40%;
            margin-top: 5%;
        }
        &__container-card {
            height: 100%;
            padding: 5% 0;
        }
        &__container-card:nth-child(2) {
            transform: scale(1);
            margin: 24px;
        }
        &__container-card:hover {
            transform: none;
        }
        &__text {
            padding-bottom: 2%;
        }
    }
}
